.title-container{
    background: url(/assets/home.png);
    background-size:auto;
    background-position:center;
    padding-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
    .home-container{
    color:white;
    width:80%;
    text-align:center;
    padding:10% 0;
    margin-left: 10%;
    }
}
.middle-divide{
    .middle-line();
}

.artists-container{
    display: flex;
    justify-content: center;
    .artist{
        text-align: center;
        margin-right: 10%;
        .bio{
           .set-bio();
        }

    }
}      