.title-container{
    .home-container{
    color:white;
    background-size:cover;
    background-position:center;
    width:80%;
    height: 100%;
    text-align:center;
    padding:4% 0;
    background: url(/assets/home.png);
    margin-left: 10%;
    }
}
.middle-divide{
    .middle-line();
}

.artists-container{
    display: flex;
    justify-content: center;
    .artist{
        text-align: center;
        margin-right: 10%;
        .bio{
           .set-bio();
        }

    }
}      