.nav-links{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 2%;
       a{
        text-decoration: none;
        color: black;
        padding-bottom: 30%;
        font-size: 1.5rem;
        border-right: 1px solid black;
        padding-bottom: 1%;
        display: inline-block;
        &:first-of-type{
            font-weight: bold;

        }
    }
}